#topbar{
	padding: 15px;
	color: white;
	background: #bbdb96;
}
#topbar h1{
	float: left;
}
#topbar form{
	float: right;
	margin-top: 20px;
}
#topbar input{
	padding: 17px;
	height: 36px;
	background:#d9e6e2;
	width: 260px;
	border-radius: 5px;
	margin-bottom: 12px;
}
#topbar button{
	border-radius: 5px;
	color: black;
	background: #d9e6e2;
	margin-left: 5px;
	margin-right: 10px;
	padding: 7px;
	text-align: center;
	text-decoration:none;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 4px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	width: 100px;
}
#topbar button:hover {
	background-color: #028a3600;
	color: white;
	border: 2px solid #d9e6e2;
}
