<html>
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    <h1 style="text-align: center">Questioner</h1>
    <p><a href="/">Home -- </a> https://questioner13.herokuapp.com/api/v1/ </p>

    <p><a href="meetups">See all Meetups -- </a> https://questioner13.herokuapp.com/api/v1/meetups</p>

    <p><a href="meetups/1">Check One MeetUp -- </a> https://questioner13.herokuapp.com/api/v1/meetups/<meetup_id> eg meetup_id = 1</p>

    <p><a href="meeetups/upcoming/">Upcoming Meetups --- </a> https://questioner13.herokuapp.com/api/v1/meeetups/upcoming/</p>

    <p><a href="questions/<question_id>/downvote">Downvote Question -- </a> https://questioner13.herokuapp.com/api/v1/questions/<question_id>/downvote  eg question_id =1 </p>

    <p><a href="questions/<question_id>/upvote">Upvote Question -- </a> https://questioner13.herokuapp.com/api/v1/questions/<question_id>/upvote  eg question_id =1 </p>

    <p><a href="add_meetups/<meetup_id>/rsvps">RSVP Meetup -- </a> https://questioner13.herokuapp.com/api/v1/add_meetups/<meetup_id>/rsvps  eg meetup_id = 1 </p>
  </body>
</html>